html {
	width: 100%;
	height: 100%;
	
	color: white;
	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
	height: 100%;
	background-color:rgb(20, 18, 29);
	color: white;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
    margin:0;
    font-family: 'Chakra Petch', sans-serif;
}

@media (max-width: 450px) {
	p{ .display-2 {
		font-size: 3em;
	}
	}
}
.navbar-nav li {
	padding-right: 1.15vw;
}

.nav-link {
	font-size: 1.1em !important;
}
.cont {
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: rgb(108, 114, 168) .5;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 10%;
    margin-bottom: -3%;
    margin-top: -7%;
    padding-bottom: 4%;
    font-size: 1vw;
}

.cont img{
    width: 40vw;
    height: 50vh;
    margin-bottom: 3%;
}

.cont p{
    width: 75%;
    margin-top: 3%;
    font-size: 1em;
    margin-bottom: 6%;
    text-align: center;
    margin-left: 14%;
}

.cont h1{
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2%;
}
.cont h3{
    font-size: 2.3em;
}

.cont li{
    text-align: left;
    margin-left: 3%;
    font-size: 1vw;
    max-width: 50vw;
    width: 45vw;
}


  
  
  footer {
	width: 100%;
	height: auto;
	
	position: absolute;
	margin-bottom: -2%;
	
	background-color: #333;
	margin: 0 auto;
	text-align: center;
	padding-top: 2.5% ;
	
  }
  
  
  .social img {
	  width: 2%;
	  height: 2%;
	  margin-left: 4%;
	  margin-bottom: 3%;
	  
  }
  
  .social p {
	  margin-left: 3%;
  }