html {
	width: 100%;
	height: 100%;
	
	color: white;
	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
	height: 100%;
	background-color:rgb(20, 18, 29);
	color: white;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
    margin:0;
    font-family: 'Chakra Petch', sans-serif;
}

.my_text{
	text-align: center;
}

.navbar-brand img {
	width: 10vw;
}

.navbar-nav li {
	padding-right: 1.15vw;
}

.nav-link {
	font-size: 1.1em !important;
}



.carousel-inner img {
	transform: translateY(-5%);
	width: 100%;
} 

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	
	
}

@media (max-width: 450px) {
	p{ .display-2 {
		font-size: 3em;
	}
	}
}
.cont {
    text-align: center;
    color: rgb(20, 18, 29);
    text-shadow: rgb(108, 114, 168) .5;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 10%;
    margin-bottom: -3%;
	margin-top: -7%;
	font-size: 1.1em;
	padding: 3vw 4vw 3vw 4vw;
	
}

.cont img{
    width: 45vw;
	height: 30vw;
	margin-bottom: 3%;
	margin-left: 17%;
	margin-top: 3%;
	border-radius: 2%;
}

.cont p{
    width: 75%;
    margin-top: 3%;
    font-size: 1em;
    margin-bottom: 3%;
    text-align: center;
    margin-left: 14%;
}

.cont h1{
    font-size: 2em;
}


footer {
	width: 100%;
	height: auto;
	
	position: absolute;
	margin-bottom: -2%;
	
	background-color: #333;
	margin: 0 auto;
	text-align: center;
	padding-top: 2.5% ;
	
  }
  
  
  .social img {
	  width: 2%;
	  height: 2%;
	  margin-left: 4%;
	  margin-bottom: 3%;
	  
  }
  
  .social p {
	  text-align: center;
  }
