


.period h1{
	text-align: center;
	font-size: 3em;
	display: block;
}

.period img {
	width: 20vw;
	height: 20vh;
	display: inline-block;
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}


.dost_title{
	margin-top: 2%;
	text-align: center;
	display: block;
	font-size: 20em;
	position: absolute;

}

.dost_img img {
	opacity: 0.85;
}

.carousel-inner img {
	transform: translateY(-5%);
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.1;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: black;
	
	text-shadow: 1px 1px 10px #444;
	opacity: 95%;
	
}